.navbar{ 
    background-color: rgb(62, 12, 53);
}

.navbar .navbar-brand {
    margin-right: 0rem;
    margin-left: 0rem;
}

.navbar .container {
    margin-right: 0rem;
    margin-left: 1rem;
}

.single-player {
    margin-right: 1rem;
    margin-left: 1rem;
}

