.options-container {
    padding-left: 3vw; 
    padding-right: 2vw;
}

.faint-grey {
    background-color: #f1f1f1f7; 
}

.question-header {
    padding-bottom: 2.5vh;
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-margin {
   margin-top: 100;
}

.button-margin {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.checked-button {
    margin-right: 0.25rem;
}

.timer-card {
    padding-right: 1vw;
    margin-top: 2rem;
    text-align: center;
}

.options-spacing {
    margin-bottom: 2vh;
}

.before-saved {
    margin-bottom: 4vh;
}